In [ ]:
import sys
!{sys.executable} -m pip install forex-python

In [608]:
import numpy as np 
import pandas as pd
from forex_python.converter import CurrencyRates 
from string import capwords

In [496]:
df_carbon_tax = pd.read_csv('/Users/yurymoskaltsov/Documents/Data_Science/Hackathons/Banks4Climate/datasets/Transition/Carbon_Tax_Pricing/CPI_Data_DashboardExtract.csv', skiprows=2)
df_em = pd.read_csv('/Users/yurymoskaltsov/Documents/Data_Science/Hackathons/Banks4Climate/datasets/Transition/historical_emissions/historical_emissions.csv')

In [210]:
df_carbon_tax.head()

,Name of the initiative,Type,Status,Type of juridiction covered,Jurisdiction covered,World Bank region,Year of implementation,Year of abolishment,GHG emissions covered [MtCO2e],Proportion of global GHG emissions covered,"Government income, previous year",Value [billion US$],Initiatives with overlapping GHG emissions covered,Covered GHG emissions overlapping with other initiatives [MtCO2e]
0,Alberta TIER,ETS,Implemented,Subnational,Alberta,North America,2007,0,131.9040,0.002435,0.367607,2.783372,NaN,NaN
1,Alberta carbon tax,Carbon tax,Implemented,Subnational,Alberta,North America,2017,2020,0.0000,0.000000,NaN,0.942534,NaN,NaN
2,Argentina carbon tax,Carbon tax,Implemented,National,Argentina,Latin America and the Caribbean,2018,0,88.1248,0.001627,0.179263,0.180258,NaN,NaN
3,Australia ERF Safeguard Mechanism,ETS,Implemented,National,Australia,East Asia & Pacific,2016,0,344.2080,0.006354,NaN,3.509703,NaN,NaN
4,Austria undecided,Undecided,Under consideration,National,Austria,Europe and Central Asia,TBC,0,NaN,NaN,NaN,0.000000,NaN,NaN

In [214]:
df_emm[df_emm['Country']== 'World'].groupby(['Sector']).sum()

,2017,2016,2015,2014,2013,2012,2011,2010,2009,2008,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
Sector,,,,,,,,,,,,,,,,,,,,,
Agriculture,5884.97,5795.51,5742.44,5678.15,5633.18,5693.47,5678.14,5542.99,5467.33,5473.29,...,5089.10,5034.79,4980.67,5050.88,5057.44,5000.42,4962.59,4991.32,5013.56,5029.15
Building,2796.01,2737.47,2689.70,2660.70,2712.17,2599.00,2654.66,2707.44,2653.97,2704.71,...,2533.91,2463.09,2615.10,2637.75,2566.84,2492.94,2574.50,2514.52,2622.04,2596.85
Bunker Fuels,1001.55,956.89,936.09,908.21,891.50,877.08,878.17,853.81,818.22,849.85,...,748.05,731.97,724.80,667.29,692.11,664.89,644.45,644.42,654.20,657.86
Electricity/Heat,15167.36,14949.51,15009.83,15232.52,15320.55,15059.19,14755.36,14151.17,13257.85,13457.77,...,10134.66,10080.66,9853.19,9586.39,9231.22,9042.50,8945.80,8894.60,8735.04,8596.17
Energy,36435.64,35970.69,35951.84,36053.93,35997.40,35390.08,34998.41,34064.92,32205.11,32624.44,...,25236.65,25085.99,24925.72,24544.78,24048.52,23464.22,23432.23,23345.54,23506.23,23363.95
Fugitive Emissions,2776.00,2779.85,2775.41,2877.38,2860.38,2853.29,2830.66,2793.84,2739.15,2746.40,...,2089.09,2076.10,2091.65,2106.34,2073.70,2063.05,2129.69,2165.36,2261.86,2253.38
Industrial Processes,2825.88,2768.08,2678.62,2671.42,2556.16,2450.41,2371.51,2223.08,2089.21,2039.58,...,1329.14,1323.48,1319.75,1277.11,1225.10,1151.62,1044.44,1030.40,1014.31,1010.44
Land-Use Change and Forestry,3217.07,3217.07,3912.40,3576.82,3366.68,3466.95,3400.35,3341.70,3691.12,3369.51,...,3697.77,4071.09,4637.86,3671.01,4196.67,4196.66,4196.65,4196.62,4196.65,4196.64
Manufacturing/Construction,6174.41,6188.61,6315.81,6360.38,6324.16,6332.91,6313.54,6087.72,5547.26,5563.14,...,3694.74,3854.06,3852.36,3827.31,3937.60,3711.41,3694.80,3743.48,3875.91,3955.39
Other Fuel Combustion,1443.42,1437.09,1444.08,1424.61,1406.72,1363.57,1317.61,1312.84,1282.79,1289.81,...,1191.82,1180.80,1203.74,1154.63,1214.26,1262.92,1293.13,1274.10,1362.83,1353.12
Total excluding LUCF,46730.35,46095.12,45916.49,45917.75,45670.78,45010.58,44515.36,43296.13,41215.92,41584.22,...,33119.37,32910.54,32700.50,32351.08,31807.57,31087.22,30883.65,30785.53,30929.27,30767.94
Total including LUCF,49947.42,49312.19,49828.88,49494.56,49037.46,48477.53,47915.71,46637.83,44907.04,44953.73,...,36817.13,36981.63,37338.36,36022.10,36004.23,35283.88,35080.30,34982.15,35125.92,34964.58
Transportation,8078.45,7878.14,7717.01,7498.34,7373.42,7182.12,7126.58,7011.93,6724.10,6862.60,...,5592.43,5431.29,5309.68,5232.37,5024.90,4891.40,4794.31,4753.49,4648.55,4609.04
Waste,1583.86,1560.85,1543.59,1514.26,1484.04,1476.63,1467.31,1465.13,1454.29,1446.93,...,1464.47,1466.28,1474.36,1478.31,1476.51,1470.96,1444.39,1418.28,1395.18,1364.40

In [618]:
try:

    df_carbon_tax['Price_Per_Ton_USD'] = df_carbon_tax['Value [billion US$]']*1000/df_carbon_tax['GHG emissions covered [MtCO2e]']

except ZeroDivisionError:
    
     df_carbon_tax['Price_Per_Ton_USD'] = np.nan

In [619]:
df_carbon_tax['Price_Per_Ton_USD']

0     21.101497
1           inf
2      2.045489
3     10.196460
4           NaN
        ...
88          NaN
89          NaN
90     0.000000
91     0.000000
92          NaN
Name: Price_Per_Ton_USD, Length: 93, dtype: float64

In [620]:
df_carbon_tax['Price_Per_Ton_USD'] = np.where(df_carbon_tax['Price_Per_Ton_USD'] == np.inf, np.nan,df_carbon_tax['Price_Per_Ton_USD'] )
df_carbon_tax['Price_Per_Ton_USD']

0     21.101497
1           NaN
2      2.045489
3     10.196460
4           NaN
        ...
88          NaN
89          NaN
90     0.000000
91     0.000000
92          NaN
Name: Price_Per_Ton_USD, Length: 93, dtype: float64

In [621]:
np.sum(df_carbon_tax['Price_Per_Ton_USD'].notna())/df_carbon_tax.shape[0]

0.6451612903225806

In [622]:
df_carbon_tax['Price_Per_Ton_USD'].mean()

12.038328673487456

In [253]:
df_carbon_tax[df_carbon_tax['Status']== 'Under consideration'].head()

,Name of the initiative,Type,Status,Type of juridiction covered,Jurisdiction covered,World Bank region,Year of implementation,Year of abolishment,GHG emissions covered [MtCO2e],Proportion of global GHG emissions covered,"Government income, previous year",Value [billion US$],Initiatives with overlapping GHG emissions covered,Covered GHG emissions overlapping with other initiatives [MtCO2e],Price_Per_Ton_USD
4,Austria undecided,Undecided,Under consideration,National,Austria,Europe and Central Asia,TBC,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
9,Brazil undecided,Undecided,Under consideration,National,Brazil,Latin America and the Caribbean,TBC,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
13,Catalonia carbon tax,Carbon tax,Under consideration,Subnational,Catalonia,Europe and Central Asia,TBC,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
14,Chile ETS,ETS,Under consideration,National,Chile,Latin America and the Caribbean,TBC,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
18,Colombia ETS,ETS,Under consideration,National,Colombia,Latin America and the Caribbean,TBC,0,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [438]:
country_region = df_carbon_tax.groupby(['Jurisdiction covered','World Bank region'], as_index=False).sum()
reg_mean = country_region.groupby('World Bank region',as_index=False ).mean()
reg_mean

,World Bank region,Year of abolishment,GHG emissions covered [MtCO2e],Proportion of global GHG emissions covered,"Government income, previous year",Value [billion US$],Covered GHG emissions overlapping with other initiatives [MtCO2e],Price_Per_Ton_USD
0,East Asia & Pacific,0.000000,331.819735,0.006125,0.144296,1.505929,48.888919,4.863233
1,Europe and Central Asia,0.000000,139.629631,0.002577,1.308382,2.004501,13.752449,17.435730
2,Latin America and the Caribbean,0.000000,79.650903,0.001470,0.060583,0.065166,0.000000,0.739980
3,North America,106.315789,57.903317,0.001069,0.382192,0.775960,1.584665,8.598757
4,Sub-Saharan Africa,0.000000,170.749333,0.003152,0.000000,0.032427,0.000000,0.063304

In [439]:
reg_mean['Price_Per_Ton_USD'][reg_mean['World Bank region']== 'East Asia & Pacific ']

0    4.863233
Name: Price_Per_Ton_USD, dtype: float64

In [440]:
country_region

,Jurisdiction covered,World Bank region,Year of abolishment,GHG emissions covered [MtCO2e],Proportion of global GHG emissions covered,"Government income, previous year",Value [billion US$],Covered GHG emissions overlapping with other initiatives [MtCO2e],Price_Per_Ton_USD
0,Alberta,North America,2020,131.904000,0.002435,0.367607,3.725905,0.00000,21.101497
1,Argentina,Latin America and the Caribbean,0,88.124800,0.001627,0.179263,0.180258,0.00000,2.045489
2,Australia,East Asia & Pacific,0,344.208000,0.006354,0.000000,3.509703,0.00000,10.196460
3,Austria,Europe and Central Asia,0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
4,Baja California,Latin America and the Caribbean,0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...
74,United Kingdom,Europe and Central Asia,0,135.826590,0.002507,1.098106,0.852189,135.82659,6.274092
75,Vietnam,East Asia & Pacific,0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
76,Virginia,North America,0,30.706944,0.000567,0.000000,0.000000,0.00000,0.000000
77,Washington,North America,0,64.933333,0.001199,0.000000,0.000000,0.00000,0.000000
78,Zacatecas,Latin America and the Caribbean,0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000

In [441]:
(country_region['Price_Per_Ton_USD']==0) & (country_region['World Bank region']== 'East Asia & Pacific ')

0     False
1     False
2     False
3     False
4     False
      ...
74    False
75     True
76    False
77    False
78    False
Length: 79, dtype: bool

In [591]:
avg_reg_price = {}

for region in list(reg_mean['World Bank region']):
    
    region_dict = "".join(region.rstrip())
    avg_reg_price[region_dict] =  float(reg_mean['Price_Per_Ton_USD'][reg_mean['World Bank region'] == region])

avg_reg_price

{'East Asia & Pacific': 4.863233010720434,
 'Europe and Central Asia': 17.435730378915398,
 'Latin America and the Caribbean': 0.7399798710438314,
 'North America': 8.598756871391405,
 'Sub-Saharan Africa': 0.06330373503979843}

In [445]:
for region in avg_reg_price:
    
    country_region['Price_Per_Ton_USD'+region] = np.where((country_region['Price_Per_Ton_USD']==0) \
                                                   & (country_region['World Bank region']== region),\
                                                 avg_reg_price[region], 0)
    
country_region

,Jurisdiction covered,World Bank region,Year of abolishment,GHG emissions covered [MtCO2e],Proportion of global GHG emissions covered,"Government income, previous year",Value [billion US$],Covered GHG emissions overlapping with other initiatives [MtCO2e],Price_Per_Ton_USD,Price_Per_Ton_USDEast Asia & Pacific,Price_Per_Ton_USDEurope and Central Asia,Price_Per_Ton_USDLatin America and the Caribbean,Price_Per_Ton_USDNorth America,Price_Per_Ton_USDSub-Saharan Africa
0,Alberta,North America,2020,131.904000,0.002435,0.367607,3.725905,0.00000,21.101497,0.000000,0.00000,0.00000,0.000000,0.0
1,Argentina,Latin America and the Caribbean,0,88.124800,0.001627,0.179263,0.180258,0.00000,2.045489,0.000000,0.00000,0.00000,0.000000,0.0
2,Australia,East Asia & Pacific,0,344.208000,0.006354,0.000000,3.509703,0.00000,10.196460,0.000000,0.00000,0.00000,0.000000,0.0
3,Austria,Europe and Central Asia,0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,17.43573,0.00000,0.000000,0.0
4,Baja California,Latin America and the Caribbean,0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.73998,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,United Kingdom,Europe and Central Asia,0,135.826590,0.002507,1.098106,0.852189,135.82659,6.274092,0.000000,0.00000,0.00000,0.000000,0.0
75,Vietnam,East Asia & Pacific,0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,4.863233,0.00000,0.00000,0.000000,0.0
76,Virginia,North America,0,30.706944,0.000567,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,8.598757,0.0
77,Washington,North America,0,64.933333,0.001199,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.00000,8.598757,0.0
78,Zacatecas,Latin America and the Caribbean,0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,0.73998,0.000000,0.0

In [446]:
price_columns = ['Price_Per_Ton_USDEast Asia & Pacific ',
       'Price_Per_Ton_USDEurope and Central Asia',
       'Price_Per_Ton_USDLatin America and the Caribbean  ',
       'Price_Per_Ton_USDNorth America',
       'Price_Per_Ton_USDSub-Saharan Africa']

for col in price_columns:
    
    
    country_region['Price_Per_Ton_USD'] += country_region[col]
    

np.sum(country_region['Price_Per_Ton_USD'].isna())

0

In [448]:
country_region[country_region['World Bank region']== 'North America']

,Jurisdiction covered,World Bank region,Year of abolishment,GHG emissions covered [MtCO2e],Proportion of global GHG emissions covered,"Government income, previous year",Value [billion US$],Covered GHG emissions overlapping with other initiatives [MtCO2e],Price_Per_Ton_USD,Price_Per_Ton_USDEast Asia & Pacific,Price_Per_Ton_USDEurope and Central Asia,Price_Per_Ton_USDLatin America and the Caribbean,Price_Per_Ton_USDNorth America,Price_Per_Ton_USDSub-Saharan Africa
0,Alberta,North America,2020,131.904000,0.002435,0.367607,3.725905,0.00000,21.101497,0.0,0.0,0.0,0.000000,0.0
7,British Columbia,North America,0,41.650000,0.000769,1.145108,1.374763,0.00000,33.007503,0.0,0.0,0.0,0.000000,0.0
8,California,North America,0,375.166200,0.006925,3.064750,5.113260,0.00000,13.629319,0.0,0.0,0.0,0.000000,0.0
9,Canada,North America,0,226.282886,0.004177,1.371070,3.010832,0.00000,19.382930,0.0,0.0,0.0,0.000000,0.0
35,Manitoba,North America,0,0.000000,0.000000,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0
39,New Brunswick,North America,0,5.499000,0.000102,0.000000,0.068052,0.00000,12.375400,0.0,0.0,0.0,0.000000,0.0
41,Newfoundland and Labrador,North America,0,9.603000,0.000177,0.040743,0.064348,0.00000,12.831267,0.0,0.0,0.0,0.000000,0.0
42,Northwest Territories,North America,0,1.335100,0.000025,0.004911,0.018385,0.00000,13.770425,0.0,0.0,0.0,0.000000,0.0
44,Nova Scotia,North America,0,13.200000,0.000244,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0
45,Ontario,North America,0,0.000000,0.000000,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0
46,Oregon,North America,0,0.000000,0.000000,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0
47,Pennsylvania,North America,0,0.000000,0.000000,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0
50,Prince Edward Island,North America,0,0.761200,0.000014,0.006612,0.012121,0.00000,15.923956,0.0,0.0,0.0,0.000000,0.0
51,Quebec,North America,0,66.385000,0.001225,0.968660,0.837522,0.00000,12.616133,0.0,0.0,0.0,0.000000,0.0
52,RGGI,North America,0,123.292356,0.002276,0.292188,0.518050,30.10863,8.737951,0.0,0.0,0.0,0.000000,0.0
56,Saskatchewan,North America,0,9.444000,0.000174,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0
66,TCI,North America,0,0.000000,0.000000,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0
76,Virginia,North America,0,30.706944,0.000567,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0
77,Washington,North America,0,64.933333,0.001199,0.000000,0.000000,0.00000,8.598757,0.0,0.0,0.0,8.598757,0.0

In [497]:
df_em

,Country,Data source,Sector,Gas,Unit,2017,2016,2015,2014,2013,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,World,CAIT,Total including LUCF,All GHG,MtCOâ‚‚e,49947.42,49312.19,49828.88,49494.56,49037.46,...,36817.13,36981.63,37338.36,36022.10,36004.23,35283.88,35080.30,34982.15,35125.92,34964.58
1,World,CAIT,Total excluding LUCF,All GHG,MtCOâ‚‚e,46730.35,46095.12,45916.49,45917.75,45670.78,...,33119.37,32910.54,32700.50,32351.08,31807.57,31087.22,30883.65,30785.53,30929.27,30767.94
2,World,CAIT,Energy,All GHG,MtCOâ‚‚e,36435.64,35970.69,35951.84,36053.93,35997.40,...,25236.65,25085.99,24925.72,24544.78,24048.52,23464.22,23432.23,23345.54,23506.23,23363.95
3,World,CAIT,Electricity/Heat,All GHG,MtCOâ‚‚e,15167.36,14949.51,15009.83,15232.52,15320.55,...,10134.66,10080.66,9853.19,9586.39,9231.22,9042.50,8945.80,8894.60,8735.04,8596.17
4,China,CAIT,Total excluding LUCF,All GHG,MtCOâ‚‚e,12090.97,11887.96,11888.02,11890.44,11878.47,...,4399.54,4449.07,4309.89,4300.74,4264.57,3875.13,3724.16,3501.05,3369.71,3220.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,Saint Lucia,CAIT,Fugitive Emissions,All GHG,MtCOâ‚‚e,NaN,NaN,NaN,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2704,Uganda,CAIT,Fugitive Emissions,All GHG,MtCOâ‚‚e,NaN,NaN,NaN,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2705,Sao Tome and Principe,CAIT,Fugitive Emissions,All GHG,MtCOâ‚‚e,NaN,NaN,NaN,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2706,Cook Islands,CAIT,Fugitive Emissions,All GHG,MtCOâ‚‚e,NaN,NaN,NaN,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2707,Central African Republic,CAIT,Fugitive Emissions,All GHG,MtCOâ‚‚e,NaN,NaN,NaN,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [498]:
df_em.columns

Index(['Country', 'Data source', 'Sector', 'Gas', 'Unit', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007',
       '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998',
       '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990'],
      dtype='object')

In [499]:
sector_em = df_emm.groupby(['Sector'], as_index=False).sum()
sector_em

,Sector,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,Agriculture,12157.16,11978.50,11873.41,11741.21,11647.08,11764.67,11733.97,11470.66,11317.96,...,10598.59,10492.54,10388.49,10530.22,10540.03,10433.15,10363.10,10436.27,10506.12,10560.02
1,Building,6034.65,5922.01,5816.91,5733.74,5909.51,5673.47,5772.13,5944.82,5811.12,...,5606.10,5475.02,5792.55,5877.50,5685.87,5526.05,5730.49,5604.26,5863.57,5784.52
2,Bunker Fuels,2140.74,2044.35,1997.63,1940.26,1908.96,1879.89,1884.55,1838.35,1769.78,...,1629.29,1597.51,1581.46,1466.20,1513.51,1456.75,1414.00,1412.13,1432.45,1439.74
3,Electricity/Heat,31274.84,30840.10,30988.35,31407.50,31661.89,31207.75,30617.92,29428.27,27618.31,...,21477.30,21409.16,20965.58,20481.70,19748.14,19363.20,19164.91,19121.20,18837.90,18578.25
4,Energy,74295.27,73407.49,73408.20,73524.49,73608.74,72478.93,71698.36,69945.09,66229.08,...,52795.99,52608.19,52350.24,51701.97,50638.57,49453.48,49440.89,49327.37,49822.91,49603.18
5,Fugitive Emissions,5681.22,5691.99,5686.66,5813.34,5781.13,5769.12,5724.53,5651.25,5542.47,...,4275.69,4248.13,4285.41,4318.92,4256.81,4237.58,4373.63,4446.27,4644.47,4637.24
6,Industrial Processes,5819.03,5707.99,5529.03,5519.37,5282.78,5074.98,4920.61,4625.39,4366.18,...,2860.16,2857.48,2865.44,2778.61,2668.53,2513.80,2286.61,2261.79,2163.43,2165.34
7,Land-Use Change and Forestry,5999.96,5999.96,7390.72,6719.77,6299.47,6502.86,6369.51,6332.58,7030.92,...,7093.84,7841.16,8974.21,7040.53,8092.45,8092.42,8092.41,8092.32,8091.73,8091.87
8,Manufacturing/Construction,12672.79,12693.28,12946.39,13035.81,12971.97,12998.51,12973.27,12529.02,11425.50,...,7850.41,8196.63,8224.21,8176.28,8400.34,7932.10,7884.35,8001.16,8323.70,8547.48
9,Other Fuel Combustion,2995.55,2982.29,2994.89,2955.99,2925.22,2838.80,2747.65,2743.31,2677.97,...,2514.52,2501.23,2546.61,2451.28,2565.91,2662.32,2724.92,2683.23,2868.84,2848.03
10,Total excluding LUCF,95548.55,94326.47,94012.36,93929.92,93626.50,92395.42,91413.83,89100.93,84954.19,...,69346.17,69055.50,68719.60,68136.57,66970.21,65512.35,65149.97,65032.05,65451.15,65222.19
11,Total including LUCF,101548.51,100326.43,101402.98,100649.75,99925.89,98898.40,97783.37,95433.55,91985.10,...,76439.94,76896.60,77693.86,75177.05,75062.67,73604.66,73242.39,73124.31,73542.94,73313.95
12,Transportation,15635.55,15276.57,14973.86,14577.09,14358.07,13990.47,13862.11,13647.62,13153.04,...,11066.87,10773.02,10531.37,10391.89,9977.22,9726.65,9556.98,9465.77,9279.26,9202.49
13,Waste,3277.16,3232.61,3201.69,3144.84,3087.96,3076.71,3061.00,3059.79,3040.96,...,3091.21,3097.36,3115.54,3125.64,3123.11,3111.95,3059.42,3006.51,2958.34,2893.55

In [500]:
total_2017 = float((sector_em['2017'][sector_emm['Sector']== 'Total including LUCF']))
sector_em['Percent_2017'] = sector_em['2017']/total_2017
# sector_emm
total_2017

101548.51000000007

In [501]:
sector_em.sort_values(by='Percent_2017', ascending=False)

,Sector,2017,2016,2015,2014,2013,2012,2011,2010,2009,...,1998,1997,1996,1995,1994,1993,1992,1991,1990,Percent_2017
11,Total including LUCF,101548.51,100326.43,101402.98,100649.75,99925.89,98898.40,97783.37,95433.55,91985.10,...,76896.60,77693.86,75177.05,75062.67,73604.66,73242.39,73124.31,73542.94,73313.95,1.000000
10,Total excluding LUCF,95548.55,94326.47,94012.36,93929.92,93626.50,92395.42,91413.83,89100.93,84954.19,...,69055.50,68719.60,68136.57,66970.21,65512.35,65149.97,65032.05,65451.15,65222.19,0.940915
4,Energy,74295.27,73407.49,73408.20,73524.49,73608.74,72478.93,71698.36,69945.09,66229.08,...,52608.19,52350.24,51701.97,50638.57,49453.48,49440.89,49327.37,49822.91,49603.18,0.731623
3,Electricity/Heat,31274.84,30840.10,30988.35,31407.50,31661.89,31207.75,30617.92,29428.27,27618.31,...,21409.16,20965.58,20481.70,19748.14,19363.20,19164.91,19121.20,18837.90,18578.25,0.307979
12,Transportation,15635.55,15276.57,14973.86,14577.09,14358.07,13990.47,13862.11,13647.62,13153.04,...,10773.02,10531.37,10391.89,9977.22,9726.65,9556.98,9465.77,9279.26,9202.49,0.153971
8,Manufacturing/Construction,12672.79,12693.28,12946.39,13035.81,12971.97,12998.51,12973.27,12529.02,11425.50,...,8196.63,8224.21,8176.28,8400.34,7932.10,7884.35,8001.16,8323.70,8547.48,0.124795
0,Agriculture,12157.16,11978.50,11873.41,11741.21,11647.08,11764.67,11733.97,11470.66,11317.96,...,10492.54,10388.49,10530.22,10540.03,10433.15,10363.10,10436.27,10506.12,10560.02,0.119718
1,Building,6034.65,5922.01,5816.91,5733.74,5909.51,5673.47,5772.13,5944.82,5811.12,...,5475.02,5792.55,5877.50,5685.87,5526.05,5730.49,5604.26,5863.57,5784.52,0.059426
7,Land-Use Change and Forestry,5999.96,5999.96,7390.72,6719.77,6299.47,6502.86,6369.51,6332.58,7030.92,...,7841.16,8974.21,7040.53,8092.45,8092.42,8092.41,8092.32,8091.73,8091.87,0.059085
6,Industrial Processes,5819.03,5707.99,5529.03,5519.37,5282.78,5074.98,4920.61,4625.39,4366.18,...,2857.48,2865.44,2778.61,2668.53,2513.80,2286.61,2261.79,2163.43,2165.34,0.057303
5,Fugitive Emissions,5681.22,5691.99,5686.66,5813.34,5781.13,5769.12,5724.53,5651.25,5542.47,...,4248.13,4285.41,4318.92,4256.81,4237.58,4373.63,4446.27,4644.47,4637.24,0.055946
13,Waste,3277.16,3232.61,3201.69,3144.84,3087.96,3076.71,3061.00,3059.79,3040.96,...,3097.36,3115.54,3125.64,3123.11,3111.95,3059.42,3006.51,2958.34,2893.55,0.032272
9,Other Fuel Combustion,2995.55,2982.29,2994.89,2955.99,2925.22,2838.80,2747.65,2743.31,2677.97,...,2501.23,2546.61,2451.28,2565.91,2662.32,2724.92,2683.23,2868.84,2848.03,0.029499
2,Bunker Fuels,2140.74,2044.35,1997.63,1940.26,1908.96,1879.89,1884.55,1838.35,1769.78,...,1597.51,1581.46,1466.20,1513.51,1456.75,1414.00,1412.13,1432.45,1439.74,0.021081

In [502]:
sum(sector_em['Percent_2017'])

3.693613820626219

In [503]:
import os
import requests

In [505]:
url = 'https://www.quandl.com/api/v3/datasets/CHRIS/ICE_C1.csv?api_key=-q3ecFz_jdpZBNM73ozq'

'https://www.quandl.com/api/v3/datasets/CHRIS/ICE_C1.csv?api_key=-q3ecFz_jdpZBNM73ozq'

In [507]:
proxies = {}
response = requests.get(url=url,proxies=proxies)
with open("response.csv","wb") as f:
    f.write(response.content)

In [511]:
df_ets_prices = pd.read_csv('response.csv')
df_ets_prices['Date'] = pd.to_datetime(df_ets_prices['Date'])

In [517]:
df_ets_prices.iloc[0]['Settle']

31.65

In [548]:
country_region[country_region['World Bank region'] == 'Europe and Central Asia']
country_region['Price_Per_Ton_USD'][country_region['Jurisdiction covered']=='Australia']

2    10.19646
Name: Price_Per_Ton_USD, dtype: float64

In [610]:
eu_countries = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark',\
               'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', '	Italy',\
               'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', \
               'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden']
test = 'slow thinking'
string.capwords(test)

'Slow Thinking'

In [617]:
def em_cost(company_name, company_revenue_usd, annual_emissions, country):
    
    '''This function outputs the amount of estimated carbon tax to be paid 
    by a company that is considered for investing
    
    Inputs:
    
    company_name - string 
    company_revenue_usd - int
    annual_emissions - int, measured in metric tons
    country - string, the country that the company is based in'''
    
    eu_countries_lower = [x.lower() for x in eu_countries]
    
    if country.lower() in eu_countries_lower:
        
        c = CurrencyRates()
        Currency = c.get_rate('EUR', 'USD')
        carbon_tax = float(df_ets_prices.iloc[0]['Settle']*emissions*Currency)
        
    else:
        
        try:
            carbon_tax = float(country_region['Price_Per_Ton_USD'][country_region['Jurisdiction covered']==strin.capwords(country)]*emissions)
        
        except:
            
            print("please choose the region of the country from the selected options")
            print(list(avg_reg_price.keys()))
            region = str(input())
            carbon_tax = avg_reg_price[region]*emissions
    
    if carbon_tax/company_revenue_usd < 0.01:
        
        carbon_score = "A"
    
    elif carbon_tax/company_revenue_usd < 0.03:
        
        carbon_score = "B"
        
    elif carbon_tax/company_revenue_usd < 0.05:
        
        carbon_score = "C"
    
    elif carbon_tax/company_revenue_usd < 0.1:
        
        carbon_score = "D"
    
    else:
        
        carbon_score = "F"
    
    
    print(company_name + " will pay " + str(int(carbon_tax)) + " USD in carbon taxes")
    
    return company_name + " carbon tax score is " + carbon_score
    


em_cost("Sting", 30_000_0, 30000, "Australia")
# em_cost("Sting", 30_000_000, 30000, "auStria")

please choose the region of the country from the selected options
['East Asia & Pacific', 'Europe and Central Asia', 'Latin America and the Caribbean', 'North America', 'Sub-Saharan Africa']
East Asia & Pacific
Sting will pay 145896 USD in carbon taxes

'Sting carbon tax score is F'

<h1> Results </h1>

The end function takes 4 arguments 

<UL>
    <li> Company Name </li>
    <li> Company Revenue </li>
    <li> Company's Annual Emissions in Metric Tons </li>
    <li> Company's Country </li>
</UL>

It gives an estimation of the carbon tax to be paid by a particular company and also gives a __"Carbon Tax Score"__ which has been calculated based on the ratio between carbon tax and revenue.

The "Carbon Tax Score" metrics are as follows. IF carbon taxes are 

<UL>
    <li> Less than 1% of revenue <b>A</b> </li>
    <li> Less than 3% of revenue <b>B</b>  </li>
    <li> Less than 5% of revenue <b>C</b>  </li>
    <li> Less than 10% of revenue<b>D</b>  </li>
    <li> Greater than 10% of revenue <b>F</b>  </li>
</UL>

<h1> Data </h1>

For EU ETS market I have scraped real time daily data from https://ember-climate.org/data/carbon-price-viewer/

For the rest of the world I have used historical World Bank Data https://carbonpricingdashboard.worldbank.org/map_data

<h1> Methodology </h1>

<h3> Carbon price estimation </h3>


I have estimated __price per ton__ dividing total value brought in taxes by the amount of emissions covered.
 
For countries that did not have such information I have decided to impute the data with the regional mean.

<h1> Model </h1>

This is a very simple model which does not use ML analysis, but it was created given the time constraint. This can be taken as a base on which we can build a more advanced tool.

<h3> Further Development Suggestions </h3>

<UL>
    <li> Use <b>KNN</b> or other classifier to better approximate carbon price for each country </li>
    <li> Use <b>regression analysis</b> to estimate the amount of GHG emissions for a company if there is no such data for a company based on the country, region, industry and other factors </li>
    <li> Create an <b>Environmental Score</b> that would include other taxes and envrionmental physical risks   </li>
    <li> Currently the model is punitive to companies which are based in the countries with higher carbon price, this might not be fair. We can create a <b>weighted estimate</b> for carbon price instead of a nominal one  </li>
     <li> Test for measures that increase the "Environmental Tax Score"  </li>
</UL>